@keyframes navanimate1 {
    50%{
        transform: unset;
    }
    100%{
        margin: 0;
        transform: translate(0, 7px) rotateZ(-45deg);
        background: rgb(183, 1, 255);
    }
}
@keyframes navanimate2 {
    100%{
        transform: translate(100px, 0);
    }
}
@keyframes navanimate3 {
    50%{
        transform: unset;
    }
    100%{
        margin: 0;
        transform: translate(0, -7px) rotateZ(45deg);
        background: rgb(0, 0, 255);
    }
}

@keyframes show {
    100%{
        opacity: 1;
    }
}