@font-face {
  font-family: "Architects Daughter";
  src: url("../assets/fonts/ArchitectsDaughter-Regular.ttf");
}

@font-face {
  font-family: "Caveat";
  src: url("../assets/fonts/Caveat-Regular.ttf");
}

@font-face {
  font-family: "Delius Swash Caps";
  src: url("../assets/fonts/DeliusSwashCaps-Regular.ttf");
}

@font-face {
  font-family: "Josefin Sans";
  src: url("../assets/fonts/JosefinSans-Regular.ttf");
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header, section {
  width: 100%;
  padding: 0 20%;
  text-align: center;
  overflow: hidden;
  color: #bdbdbd;
}

@media screen and (max-width: 768px) {
  header, section {
    padding: 0 10%;
  }
}

.section-s {
  min-height: 10vh;
}

.section-m {
  min-height: calc(100vh - 80px);
}

.section-l {
  min-height: 100vh;
}

.is-bold {
  font-weight: bold;
}

html, body {
  margin: 0;
  padding: 0;
  font-size: 20px;
  -webkit-transition: font-size 0.5s;
  transition: font-size 0.5s;
  font-family: "Architects Daughter", sans-serif, monospace;
  background-color: #010015;
}

@media (max-device-width: 1366px) {
  html, body {
    font-size: 15px;
  }
}

@media (max-device-width: 768px) {
  html, body {
    font-size: 8px;
    font-size: calc(5px + 2vw);
  }
}

nav {
  width: 100%;
  height: 80px;
  background: -webkit-gradient(linear, left bottom, left top, from(#010015), to(#30005e));
  background: linear-gradient(360deg, #010015, #30005e);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
}

.navbar-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
}

@media only screen and (max-width: 768px) {
  .navbar-left {
    width: 0;
  }
}

@media only screen and (max-device-width: 768px) {
  .navbar-left {
    width: 0;
  }
}

.navbar-right {
  position: relative;
  width: 50%;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  overflow: hidden;
}

@media only screen and (max-width: 768px) {
  .navbar-right {
    width: 100%;
  }
}

@media only screen and (max-device-width: 768px) {
  .navbar-right {
    width: 100%;
  }
}

.navbar-link {
  opacity: 0;
  -webkit-transition-property: color font-size;
  transition-property: color font-size;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  position: relative;
  color: #b1b1b1;
  text-decoration: none;
}

.navbar-link:visited {
  color: #b1b1b1;
  text-decoration: none;
}

.navbar-link:hover {
  color: white;
}

@media only screen and (min-width: 769px) {
  .navbar-link:hover {
    font-size: 1.2rem;
  }
}

.navbar-link.smallres {
  opacity: 0;
  pointer-events: none;
  -webkit-transition-property: color, opacity, font-size;
  transition-property: color, opacity, font-size;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.navbar-link.highres {
  opacity: 1;
  pointer-events: all;
  -webkit-transition-property: color, opacity, font-size;
  transition-property: color, opacity, font-size;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.navbar-link.toggled {
  opacity: 1;
  pointer-events: all;
}

.navbar-burger {
  display: block;
  outline: none;
  border: none;
  width: 55px;
  height: 30px;
  background-color: rgba(1, 1, 1, 0);
  -webkit-transition: -webkit-filter 0.2s;
  transition: -webkit-filter 0.2s;
  transition: filter 0.2s;
  transition: filter 0.2s, -webkit-filter 0.2s;
  position: relative;
}

.navbar-burger:hover {
  -webkit-filter: brightness(150%);
          filter: brightness(150%);
  cursor: pointer;
}

.navbar-burger-animate:nth-of-type(1) {
  -webkit-animation: navanimate1 0.5s forwards;
          animation: navanimate1 0.5s forwards;
}

.navbar-burger-animate:nth-of-type(2) {
  -webkit-animation: navanimate2 0.5s forwards;
          animation: navanimate2 0.5s forwards;
}

.navbar-burger-animate:nth-of-type(3) {
  -webkit-animation: navanimate3 0.5s forwards;
          animation: navanimate3 0.5s forwards;
}

.navbar-burger div {
  height: 5px;
  width: 100%;
  display: block;
  position: relative;
  padding: 0;
  margin: 0;
}

.navbar-burger div:nth-child(1) {
  margin-bottom: 5px;
  border-radius: 5px 5px 0 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#b701ff), to(purple));
  background: linear-gradient(#b701ff, purple);
}

.navbar-burger div:nth-child(2) {
  margin: 0 auto;
  background: -webkit-gradient(linear, left top, left bottom, from(#570080), to(blue));
  background: linear-gradient(#570080, blue);
}

.navbar-burger div:nth-child(3) {
  margin-top: 5px;
  border-radius: 0 0 5px 5px;
  background: -webkit-gradient(linear, left top, left bottom, from(blue), to(darkblue));
  background: linear-gradient(blue, darkblue);
}

.footer {
  width: 100%;
  padding: 0 20%;
  min-height: 300px;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

@media only screen and (max-device-width: 768px) {
  .footer {
    padding: 0;
  }
}

.footer-contact {
  margin-bottom: 10vh;
}

.footer-contact > a:first-of-type {
  font-weight: bold;
  font-size: 2rem;
}

.footer-rodo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  position: absolute;
  bottom: 15%;
}

.footer-rodo p {
  color: white;
  font-size: 0.7rem;
  line-height: 0.7rem;
  text-align: center;
  font-family: monospace;
  width: 100%;
  margin: 0;
  padding: 0 20%;
}

@media only screen and (max-device-width: 768px) {
  .footer-rodo p {
    padding: 0;
  }
}

.footer-links {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer-links .footer-link {
  color: #b1b1b1;
  text-decoration: none;
  -webkit-transition-property: font-size color;
  transition-property: font-size color;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.footer-links .footer-link:visited {
  color: #b1b1b1;
  text-decoration: none;
}

.footer-links .footer-link:hover {
  color: white;
}

@media only screen and (min-width: 769px) {
  .footer-links .footer-link:hover {
    font-size: 1.2rem;
  }
}

/*ANIMATIONS*/
@-webkit-keyframes navanimate1 {
  50% {
    -webkit-transform: unset;
            transform: unset;
  }
  100% {
    margin: 0;
    -webkit-transform: translate(0, 7px) rotateZ(-45deg);
            transform: translate(0, 7px) rotateZ(-45deg);
    background: #b701ff;
  }
}
@keyframes navanimate1 {
  50% {
    -webkit-transform: unset;
            transform: unset;
  }
  100% {
    margin: 0;
    -webkit-transform: translate(0, 7px) rotateZ(-45deg);
            transform: translate(0, 7px) rotateZ(-45deg);
    background: #b701ff;
  }
}

@-webkit-keyframes navanimate2 {
  100% {
    -webkit-transform: translate(100px, 0);
            transform: translate(100px, 0);
  }
}

@keyframes navanimate2 {
  100% {
    -webkit-transform: translate(100px, 0);
            transform: translate(100px, 0);
  }
}

@-webkit-keyframes navanimate3 {
  50% {
    -webkit-transform: unset;
            transform: unset;
  }
  100% {
    margin: 0;
    -webkit-transform: translate(0, -7px) rotateZ(45deg);
            transform: translate(0, -7px) rotateZ(45deg);
    background: blue;
  }
}

@keyframes navanimate3 {
  50% {
    -webkit-transform: unset;
            transform: unset;
  }
  100% {
    margin: 0;
    -webkit-transform: translate(0, -7px) rotateZ(45deg);
            transform: translate(0, -7px) rotateZ(45deg);
    background: blue;
  }
}

@-webkit-keyframes show {
  100% {
    opacity: 1;
  }
}

@keyframes show {
  100% {
    opacity: 1;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-about p, .section-about h2, .section-about h3, .section-about h4 {
  opacity: 0;
  -webkit-transform: translateX(-25%);
          transform: translateX(-25%);
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: opacity, transform;
  transition-property: opacity, transform, -webkit-transform;
  will-change: transform;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.section-about p.show, .section-about h2.show, .section-about h3.show, .section-about h4.show {
  opacity: 1 !important;
  -webkit-transform: translateX(0) !important;
          transform: translateX(0) !important;
}

.section-about:last-of-type p, .section-about:last-of-type h2, .section-about:last-of-type h3, .section-about:last-of-type h4 {
  opacity: 0;
  -webkit-transform: translateX(25%);
          transform: translateX(25%);
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: opacity, transform;
  transition-property: opacity, transform, -webkit-transform;
  will-change: transform;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.career h1 {
  margin-bottom: 50px;
}

.career h1, .career .career-wrapper {
  width: 100%;
}

.career .career-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.career .career-wrapper h2 {
  width: 100%;
  text-align: left;
}

.career .career-wrapper ul {
  width: 100%;
  padding: 0;
}

.career .career-wrapper li {
  padding: 0;
  list-style: none;
  text-align: left;
}

.career:last-of-type {
  margin-bottom: 50px;
}

.fade-in {
  opacity: 0;
  -webkit-animation: show 0.5s forwards;
          animation: show 0.5s forwards;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.contact h1, .contact h2, .contact p {
  width: 100%;
}

.contact h1 a, .contact h2 a, .contact p a {
  text-decoration: none;
  color: #bdbdbd;
  -webkit-transition-property: color, -webkit-filter;
  transition-property: color, -webkit-filter;
  transition-property: color, filter;
  transition-property: color, filter, -webkit-filter;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  margin-bottom: 15px;
  will-change: filter, color;
}

.contact h1 a:visited, .contact h2 a:visited, .contact p a:visited {
  text-decoration: none;
  color: #bdbdbd;
}

.contact h1 a:hover, .contact h2 a:hover, .contact p a:hover {
  color: white;
  -webkit-filter: drop-shadow(0 0 5px #00f2ff);
          filter: drop-shadow(0 0 5px #00f2ff);
}

.contact-links {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100px;
}

.neon-anchor {
  text-decoration: none;
  color: #bdbdbd;
  -webkit-transition-property: color, -webkit-filter;
  transition-property: color, -webkit-filter;
  transition-property: color, filter;
  transition-property: color, filter, -webkit-filter;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  margin-bottom: 15px;
  will-change: filter, color;
}

.neon-anchor:visited {
  text-decoration: none;
  color: #bdbdbd;
}

.neon-anchor:hover {
  color: white;
  -webkit-filter: drop-shadow(0 0 5px #00f2ff);
          filter: drop-shadow(0 0 5px #00f2ff);
}

.docs-image {
  min-height: 200px;
  min-width: 150px;
  height: 15vw;
  width: 10vw;
  -webkit-transition: 0.5s -webkit-filter;
  transition: 0.5s -webkit-filter;
  transition: 0.5s filter;
  transition: 0.5s filter, 0.5s -webkit-filter;
  will-change: filter;
}

.docs-image:hover {
  -webkit-filter: brightness(200%);
          filter: brightness(200%);
}
/*# sourceMappingURL=styles.css.map */